i.fa { font-size: 24px; }
input.nomor-halaman { width: 80px; text-align: center;}
.epl_igt,.etg_igt { display: inline-block; width: 150px;}
.epl_kr{
    background-color: #eeeeee; color: #555555; padding: 10px; 
    margin: 5px; display: inline-block;
}

.card-top {
    background-image: url('../img/banner.png');
    background-size: 100% 100%;
}
.card-top > h3 , 
.card-top > h5 , 
.card-top > div > div > h3
{ text-shadow: 3px 1px 2px black; color: white; font-weight: bold;}

#login-wrapper{
    width: 400px; height: 400px; position: absolute;
    top: 50%; margin-top:-200px; left: 50%; margin-left: -200px;
    background: linear-gradient(#ff000063 , #fa0404e5 ),  url("../img/logo.png");
    background-size: cover;
    border-radius: 50%;
}

#login-wrapper > form {
    padding: 50px; box-sizing: border-box;
    background-color: #eeeeee8e;
    height: 200px; width: 340px; margin: 100px auto;
    border-radius: 15px;
}

